.wp-list-table tbody tr{
    display: table-row!important;
}

.redux-container .redux-main{
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
}

.redux-container{
    background: none;
    border: none;
    box-shadow: none;
}

.redux-container .redux-main td{
    width: 100%;
}

.edit-tags-php .redux-main{
    width: 96.5%;
}

.term-php .redux-main{
    width: 98.5%;
}

.redux-main th, .redux-main td{
    padding-left: 0px!important;
}

#addtag .redux-main{
    width: 98%;
}

.redux-main th{
    width: 100%;
    padding: 0;
}
.redux-main th .redux_field_th{
    padding: 0;
}

.redux-main th, .redux-main td{
    display: inline-block!important;
    padding-left: 0px!important;
}

.redux-container .redux-sidebar, .redux-container .redux-main{
    min-height: 0px;
}

.redux-container .redux-main .redux-field-container{
    padding-top: 5px;
}

.redux-container .redux-main input,
.redux-container .redux-main textarea{
    width: 100%;
}

.redux-main th .redux_field_th{
    font-weight: 400;
}

.redux-container .redux-main .form-table tr{
    border: none;
}